#serifarea {
    background-color: rgb(80, 80, 80);
    width: 850px;
    height: 150px;
    color: rgb(230, 230, 230);
    font-size: 35px;
}

.Btnarea {
    position: relative;
    height: 100px;
    width: 850px;
}

button {
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background: #668ad8;
    /*ボタン色*/
    color: #FFF;
    font-size: 15px;
    border-bottom: solid 4px #627295;
    border-radius: 3px;
    margin-top: 10px;
}

.Btn_1 {
    position: absolute;
    right: 230px;
}

.Btn_2 {
    position: absolute;
    right: 10px;
}

.backBtn {
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background: #668ad8;
    /*ボタン色*/
    color: #FFF;
    font-size: 15px;
    border-bottom: solid 4px #627295;
    border-radius: 3px;
    margin-top: 10px;
}