#message {
  position: absolute;
  top: 0%;
  right: 0%;
  margin: 50px;
  width: fit-content;
}

#message td {
  border: 0;
}

#message img {
  width: 72px;
}

.msgmodal {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0%;
  right: 0%;
  background-color: rgba(240, 240, 240, 0.9);
  opacity: 0%;
  transition: 1s;
  transition-property: opacity;
  z-index: -10000;
  text-align: center;
}

.textBody{
  margin-top: auto;
  margin-bottom: auto;
}

.circle {
	width: 20px;
	height: 20px;
	background: black;
	border-radius: 50%;
	animation: purupuru_anim 1s infinite alternate;
  transform: translateX(-30px);
}

.circle {
	width: 20px;
	height: 20px;
	background: black;
	border-radius: 50%;
	animation: purupuru_anim 1.5s infinite;
  transform: translateX(-30px);
}

@keyframes purupuru_anim {
	0% {	transform: translate(0, 0);}
	5% {	transform: translate(-5px, -0);}
	10% {	transform: translate(5px, 0);}
	15% {	transform: translate(-5px, -0);}
	20% {	transform: translate(5px, 0);}
	25% {	transform: translate(-5px, -0);}
	30% {	transform: translate(0, 0);}
	100% {	transform: translate(0, 0);}
}